@import "xterm/css/xterm.css";

.xterm-viewport.xterm-viewport {
    scrollbar-width: thin;
}
.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}
.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}
.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}

#peers {
    width: 100%;
}

.peer {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.peer:hover {
    background: #eee;
}

.peer .name {
    font-family: monospace;
}

.peer .ssh {
    padding: 2px;
    border-radius: 4px;
    background-color: #ddd;
    color: #000;
    border: 0;
}
